---
---
<!doctype html>
<html>

<head>
    <title>Hegweard Tsulalgi's Blog</title>
    <link rel="icon" type="image/jpg" href="{{ site.baseurl }}/assets/images/profile.jpg">
    <meta name="This is a personal blog made as a hobby project all made by one gal" content="Blog">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>

<body>
    <header>
        <h1>Hegweard Tsulalgi's Blog!</h1>
        <p>This blog is inspired by blogs like <a target="_blank" href="https://drewdevault.com/">Drew DeVault's</a>
            blog</p>
    </header>

    <main>
        <section id="Profile">
            <img src="{{ site.baseurl }}/assets/images/profile.jpg" alt="This is a picture of a Fox" height="200">

            <section id="Email">
                <p>Email <a href="mailto:Hegweard_Tsulalgi@proton.me">HegweardTsulalgi@proton.me</a></p>
            </section>

        </section>

        <section class="Pride flag">
            <img alt="Pride Flag" src="{{ site.baseurl }}/assets/images/pride.svg" height="60">
        </section>

        <br>

        <section class="No AI">
            <a href="{% link _pages/ai.md %}">
                <img alt="No AI" src="{{ site.baseurl }}/assets/images/no-ai-icon-01.svg" height="70">
            </a>
        </section>

        <br>

        <section>
            <a href="{% link _pages/socials.html %}">Socials</a>
        </section>

        <section id="article-list">
            <h2> Blog Pages </h2>

            <!-- Automatically generate list of blog posts. -->
            {% for post in site.posts %}
                <div class="article">
                    <span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
                    <a href="{{ post.url }}" class="center">{{ post.title }}</a>
                </div>
                <br />
            {% endfor %}
        </section>
    </main>

    {% include footer.html %}
</body>

</html>