@font-face{
    src: url(/assets/fonts/pt-mono.ttf);
    font-family: pt-mono-ttf;
}

@media (prefers-color-scheme: dark) {
    a{
        color: rgb(215, 104, 39);
    }
    button{
        color: rgb(215, 104, 39);
    }
}

@media (prefers-color-scheme: light) {
    a{
        color: rgb(255, 140, 0);
    }
    button{
        color: rgb(255, 140, 0);
    }

}

*,
*::before,
*::after {
    font-family: pt-mono-ttf;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button{
    cursor: pointer;
    text-align: center;
    font-size: 13px;
}

html {
    color-scheme: light dark;
}

header, main, div{
    text-align: center;
}

article{
    font-size: 1rem;
    text-wrap: pretty wrap;
    width: 70ch;
    margin: auto;
}

footer{
    text-align: center;
    font-size: 0.85rem;
}

.menubarsoicals ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

article img {
    width: 100%;
}